body{
    background-image: url(bck7.jpg);

}
.nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    background-image: url(tech.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    
}

.nav li a {
    line-height: 300%;
    font-size: 30px;
    font-weight: 700;
}

.header_main {
    text-align: center;
    padding-top: 30px;
}

.content1 {
    padding-top: 60px;
}

.serverser {
    color: greenyellow;
}

.p2 {
    color: cyan;
}

.container1 {

    background-image: url(bac2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.projectA {
    height: 500px;
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
    justify-content: space-between;
}

.projectB {
    background-image: url(bck3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;
    padding-top: 60px;

}

h2 {
    color: greenyellow;
    
}

p {
    color: cyan;
    font-size: larger;
}

.projectC {
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.content3 {

    padding: 60px;
}

.projectD {
    background-image: url(bck5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.content4 {
    padding-top: 60px;
}

.sites {
    background-image: url(bck3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.footer {
    height: -20px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 8px;
    border: 1px black;
    padding-top: 10px;
    width: 100%;
}

.end {
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}

.label {
    color: cyan;
}
.h1{
    color: greenyellow;
}

.footer {
    height: -50px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: x-small;
}

.copyright {
    background-color: rgb(5,14,42);
    background-size: cover;
    text-align: center;
    padding: 0px;
}